/** @format */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600;700;900&display=swap");

.banner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-between;
  height: 100vh;
  background-color: #08070b;
  overflow: hidden;
}

@media (width <= 620px) {
  .banner {
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

// .banner::before {
//   content: "";
//   position: absolute;
//   z-index: -1;
//   top: 50%;
//   left: 50%;
//   translate: -50% -50%;
//   width: 200%;
//   height: 110%;
//   rotate: -2deg;
//   background-color: #08070b;
//   letter-spacing: 50px;
//   /* background-color: #1b1526; */
// }

.banner h1 {
  white-space: nowrap;
  margin: 0 0 4px 0;
  font-size: 2.5rem;
  font-weight: 700;
  /* color: rgba(255 255 255 / 96%); */
  //   background-image: linear-gradient(90deg, #4776e6 0%, #8e54e9 100%);

  background-image: linear-gradient(90deg, #007cf0, #00dfd8);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  font-family: "Montserrat", sans-serif;
}

.banner h2 {
  font-weight: 300;
  margin: 0;
  font-size: 1.25rem;
  color: rgba(255 255 255 / 57%);
  font-family: "Montserrat", sans-serif;
}
.banner p {
  color: rgba(255 255 255 / 57%);
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: 200;
  line-height: 25px;
  text-align: justify;
}
.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
